<div class="join-container">
    <header class="join-header">
        <h1><i class="fas fa-dog"></i> ParkPack Chat</h1>
    </header>
    <main class="join-main">
        <form id="choose-chat">
            {{!-- <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username..." required />
            </div> --}}
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="Big-Doggos">Big Doggos</option>
                    <option value="Small-Doggos">Small Doggos</option>
                    <option value="Any-Size-Doggos">Size Don't matter</option>
                    <!-- <option value="DogParks">Doggo Parks</option>
							<option value="scenicWalks">Scenic Walks</option>
							<option value="hikingTrails">Hiking, yo!</option> -->
                </select>
            </div>
            <button type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>

<script src="/js/chat.js"></script>