{{!-- chat main page --}}
<div class="join-container">
    <header class="join-header">
        <h2 id="chath2"><i id="chat-icon" class="fas fa-comments me-3"></i>ParkPack Chat</h2>
    </header>
    <main class="join-main">
        <form id="choose-chat">
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="Big-Doggos">Big Doggos</option>
                    <option value="Small-Doggos">Small Doggos</option>
                    <option value="Any-Size-Doggos">Size Don't matter</option>
                    
                </select>
            </div>
            <button type="submit" class="btn">Join Chat<i class="fas fa-dog ms-3"></i></button>
        </form>
    </main>
</div>

<script src="/js/chat.js"></script>