 <h2>Create Doggy Profile</h2>

    <form class=" form dogProfileForm">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-input" type="text" id="dogName" />
        </div>
        <div class="form-group">
            <label>Gender:</label>
            <input class="form-input" type="checkbox" id="male" value="m">
            <label for="male">Male</label>
            <input class="form-input" type="checkbox" id="female" value="f">
            <label for="female">Female</label>
        </div>
        <div class="form-group">
            <label>Breed:</label>
            <input class="form-input" type="text" id="breed" />
        </div>
        <div class="form-group">
            <label>Weight:</label>
            <input class="form-input" type="number" id="breed" placeholder=" lbs" />
        </div>
        <div class="form-group">
            <label>Spayed/Neutered:</label>
            <input class="form-input" type="checkbox" id="Yes" value="yes">
            <label for="yes">Yes</label>
            <input class="form-input" type="checkbox" id="no" value="no">
            <label for="no">No</label>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Energy Level</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <!-- Slider resource https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
        <div class="slidecontainer form-group">
            <label>Energy Level</label>
            <input type="range" min="1" max="5" value="3" class="slider" id="energyLevel">
            <small id="sliderRange" class="form-text text-muted">1 2 3 4 5</small>
        </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Activities</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>Hiking</option>
                <option>Leisurely Walks</option>
                <option>Frisbee</option>
                <option>Squeaky Toys</option>
                <option>Small-dog friendly</option>
                <option>Big-dog friendly</option>
                <option>Child friendly</option>
                <option>Cat friendly</option>
            </select>
        </div>




        </div>



{{!-- <script src="/js/login.js"></script> --}}
