<h2 style = "text-align: center">Create Doggy Profile</h2>
 
    <form class=" form dogProfileForm">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" type="text" id="dogName" />
        </div>
        <div class = "row">
        <div class="form-group col-sm">
            <label>Gender:</label>
            </br>
            <input class="form-input" type="checkbox" name = "dogGender" value="m">
            <label for="male">Male</label>
            <input class="form-input" type="checkbox" name = "dogGender" value="f">
            <label for="female">Female</label>
        </div>
        <div class="form-group col-sm">
            <label>Spayed/Neutered:</label>
            </br>
            <input class="form-input" type="checkbox" name="fixed" value="yes">
            <label for="yes">Yes</label>
            <input class="form-input" type="checkbox" name ="fixed" value="no">
            <label for="no"> No </label>
        </div>
        </div>
    
        <div class="form-group">
            <label>Breed:</label>
            <input class="form-control" type="text" id="breed" />
        </div>
        <div class = "row">
        <div class="form-group col-sm">
            <label>Age:</label>
            <input class="form-control" type="number" id="age" placeholder="yrs" />
        </div>
        <div class="form-group col-sm">
            <label>Weight:</label>
            <input class="form-control" type="number" id="weight" placeholder=" lbs" />
        </div>
        </div>
        <!-- Slider resource https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
        <div class="slidecontainer form-group">
            <label>Energy Level: <span id= "energy"></span></label>
            <input type="range" min="1" max="5" value="3" class="slider" id="energyLevel">
            {{!-- <small id="energyRange" class="form-text text-muted">1 2 3 4 5</small> --}}
        </div>
        </div>
        </br>
        <p id = 'mainAct'>Activities:</p>
       <div class="activities form-group">
            {{!-- <label id = "mainAct">Activities:</label>
            </br> --}}
            <input class="form-input" type="checkbox" id="hiking" value="hike">
            <label for="male">Hiking</label>
            <input class="form-input" type="checkbox" id="walk" value="walk">
            <label for="walk">Leisurely Walks</label>
            <input class="form-input" type="checkbox" id="frisbee" value="frisbee">
            <label for="walk">Frisbee</label>
            <input class="form-input" type="checkbox" id="toy" value="toy">
            <label for="walk">Squeaky Toys</label>
            <input class="form-input" type="checkbox" id="fetch" value="fetch">
            <label for="walk">Fetch</label>
            <input class="form-input" type="checkbox" id="small" value="smalldogfriendly">
            <label for="walk">Small-dog friendly</label>
            <input class="form-input" type="checkbox" id="fetch" value="bigdog">
            <label for="walk">Big-dog friendly</label>
            <input class="form-input" type="checkbox" id="fetch" value="bigdog">
            <label for="walk">Child friendly</label>
               
        </div>
        </br>
        <div class = "row">
            <div class = "form-group col-sm" style = "text-align: center">
<button class="btn btn-action btn-large" id = "dogSubmit">Submit   <i class="fas fa-paw"></i></button>
        </div>
        </div>
        </div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/dogSignup.js"></script>

