{{!-- shows your friends --}}
<h2 class="formh2 mb-4"><i class="fas fa-dog me-3"></i>My Pack</h2>

{{#if userData}}
{{#each userData}}
{{>profilecard}}
{{/each}}
{{else}}
<p>Check out the dashboard to find friends!</p>
 <a href="/dashboard"><button type="submit" class="btn btn-action" id="addpack">Dashboard<i
                            class="fas fa-paw ms-3"></i></button></a>
{{/if}}