{{!-- owner's signup information --}}
<h2 class="formh2" style="text-align: center"><i class="fas fa-paw mx-3"></i>Create Your Parent Profile</h2>
</br>
<main>
    <form class="form userProfileForm">
        <div class="row">
            <div class="form-group col-sm">
                <label>First Name:</label>
                <input class="form-control cl" type="text" id="firstName" required/>
            </div>
            <div class="form-group col-sm">
                <label>Last Name:</label>
                <input class="form-control" type="text" id="lastName" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <label>Email:</label>
                <input class="form-control" type="email" id="email" required />
            </div>
            <div class="form-group col-sm">
                <label>Zip Code:</label>
                <input class="form-control" type="number" id="zip" required />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <label>Gender Identity:</label>
                </br>
                <input type="radio" name="gender" value="Male" required>
                <label for="male">Male</label><br>
                <input type="radio" name="gender" value="Female">
                <label for="fem">Female</label><br>
                <input type="radio" name="gender" value="Non-binary">
                <label for="nonbi">Non-binary</label>
            </div>
            <div class="form-group col-sm">
                <label>Friend Preference <i class="fa fa-question-circle" id="friendPrefInfo"></i></label>
                </br>
                <input type="radio" id="maleFriend" name="genderPref" value="malePref">
                <label for="male">Male</label><br>
                <input type="radio" id="femaleFriend" name="genderPref" value="femalePref">
                <label for="female">Female</label><br>
                <input type="radio" id="bothFriend" name="genderPref" value="noPref">
                <label for="other">No Preference</label>
            </div>
        </div>




        <!-- Slider resource https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
        {{!-- <div class="slidecontainer form-group">
            <label>Max Distance Willing to Travel:</label>
            <input type="range" min="1" max="5" value="3" class="slider" id="energyLevel">
            </br>
            <small id="distanceRange" class="form-text text-muted">10 20 30 40 50+</small>
        </div> --}}
        <div class="row">
            <div class="form-group col-sm">
                <label>User Name:</label>
                <input class="form-control" type="text" id="userName" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <label>Password:</label>
                <input class="form-control" type="password" id="password" />
            </div>
        </div>
        <!-- <div class="form-group">
            <label>Confirm Password:</label>
            <input class="form-control" type="password" id="confirmpassword" />
        </div> -->
        </div>
        </br>
        <div class="row">
            <div class="form-group col-sm" style="text-align: center">
                <button class="btn btn-action btn-lg" id="userSubmit">Submit <i class="fas fa-paw ms-3"></i></button>
            </div>
        </div>
    </form>
</main>

{{!-- Save user data, and log them in so they can create a dog profile(or 2!)--}}


<!--Modal for info button-->
<div id="Modal" class="modal infoAlert">
    <div class="modal-background">
        <div class="modal-card">
            <div class="modal-card-body">

                <h1>We will only match you with friends of this gender.</h1>
                <button class="modal-close is-large"></button>
            </div>

        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- JS --}}
<script src="./dist/js/userSignup.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>