/* color palate for site:
"Ming":"#16697a" dark tealish--use for either navbar or jumbotron
"Pacific Blue":"#489fb5" medium blue --use for either navbar or jumbotron
"Middle Blue":"#82c0cc" light blue--use as accent color?
"Isabelline":"#ede7e3" Off-white--use for background, and text color against Ming (teal)
"Orange Peel":"#ffa62b" -- Orange: use for puppy icon and button colors/CTA items, possible on-hove class */

/* Google Fonts for site:
App name:
Headers & body text: font-family: 'Lexend', sans-serif;

*/
body{
  background-color: #ede7e3
  ;
}

h2, label {
    color:#16697a;
    font-family: 'Lexend';
}

.form-group{
    margin-bottom: 2%;
    margin-left: 5%;
}

.btn-action{
  background-color: #ffa62b;
}

/* offcanvas stylings */
.fa-bone{
  color:#16697a
}

.nav-link{
  color: #ede7e3
}

.nav-link:hover {
color: #ffa62b
}

.fa-2x{
  color:#ffa62b
}

.offcanvas-style{
  /* background-color:#16697a; */
  background-color: #489fb5f6;
  
}

  
  /* jumbotron styling */
  .jumbotron {
    padding: 2rem 2rem 3rem 2rem;
    /* background-color: #1d3557; */
    background-color: #16697a;
    border-radius: .3rem;  
  }

  /* logo styling */
.logo{
    font-size: xx-large;
    font-family: 'Original Surfer', cursive;
    color:#ffa62b;
}

/* font-family: 'Hachi Maru Pop', cursive;
font-family: 'Lexend', sans-serif;

font-family: 'Neucha', cursive;
font-family: 'Original Surfer', cursive;
font-family: 'Potta One', cursive;
font-family: 'Train One', cursive; */